@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>ImageUpload</title>
    <script src="~/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {
            debugger;

            alert("this is ready function");
            alert("Image");
        });
        var f1 = function () {
            debugger;
            var file = $("#img").get(0).files;
            var data = new FormData();
            data.append("imageFile", file[0]);
            data.append("ProductName", "Guitar");

            $.ajax({
                type: "POST",
                url: "/Home/ImageUpload",
                data: data,
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#ddiv").append('<img src="/imagefolder/' + response + '" class="img-responsive thumbnail"/>');
                }
            });
        }
    </script>

    <script>
    $(document).ready(function () {
        alert("gi");
        $("#btn").click(function () {
            debugger;

            var data = new FormData();
            var files = $("#myFile").get(0).files;
            if (files.length > 0) {

                console.log(files[0]);
                data.append("myFile", files[0]);
            }
            data.append("Name", $("#t1").val());
            data.append("Price", $("#t2").val());
            var settings = {
                type: "POST",
                url: "/Home/Savefile",
                contentType: false,
                processData: false,
                data: data,
                success: function (r) {
                    console.log(r);
                    alert(r);
                },
                error: function () {
                    alert("error");
                }
            };
            $.ajax(settings);
            return false;
        });

    });
    </script>

</head>
<body>
    <div class="container" style="margin-top:20px;width:60%">


        <input type="file" id="img" />
        <a href="#" class="btn btn-default" onclick="f1()">Upload Image</a>
    </div>
    <div class="col-md-2 thumbnail" id="ddiv">

    </div>
    <div class="container">
        Name<input type="text" id="t1" /><br />
        Price<input type="text" id="t2" /><br />
        Image<input type="file" id="myFile" />
        <input type="submit" value="Save" id="btn" class="btn btn-default" />
    </div>
</body>
</html>
